@import "../../styles/vars.scss";

.button {
    background-color: $color-primary;
    padding:#{$base-space * 1.5}px $space-lg;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 400;
    border: 3px solid $color-primary;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: transparent;
    }
}