@import "../../styles/vars.scss";

.hero {
    width: calc(100% - $space-md);
    max-width: $width-regular;
    margin: auto;
    flex-direction: column;
    display: flex;
    padding: #{$base-space * 10}px 0;

    @media screen and (min-width:800px) {
        min-height: calc(100vh - 200px);    
        grid-template-columns: repeat(12, 1fr);
        display: grid;
    }
}

.textCont {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: #{$base-space * 2}px;
    align-items: center;

    @media screen and (min-width:800px) {
        margin-bottom: 20px;
        align-items: flex-start;
    }
}

.title {
    margin: 0;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    max-width: 400px;
    margin: auto;
    @media screen and (min-width:800px) {
        text-align: left;
        max-width: unset;
        margin: unset;
    } 
    @media screen and (min-width: 930px) {
        font-size: 3.1rem;    
    }

}

.text {
    line-height: 1.5;
    padding-bottom: $space-md;
    text-align: center;
    max-width: 450px;
    margin: auto;
    @media screen and (min-width:800px) {
        text-align: left;
        max-width: unset;
        margin: unset;
    }
}

.gridContainer  {
    grid-column-end: 13;
    grid-column-start: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    margin: auto;

    @media screen and (min-width:800px) {
        max-width: unset;
    }

}

.grid {
    width: 90%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-md
}

.gridItem {
    background-color: $color-primary;
    aspect-ratio: 1/1;
    border-radius: 10px;
}