@import "../../styles/vars";

.header {
    display: flex;
    padding: $space-md $space-lg ;
    margin: 0 auto;
    position: relative;
    max-width: $width-regular;
    width: calc(100% - $space-md);
    align-items: center;
    justify-content: space-between;
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        border-radius: 0 0 50px 50px;
        bottom: 0;
        height: 10px;
        left: 0;
        box-sizing: border-box;
        border: {
            top: 2px solid tranparent;
            left: 2px solid #ffffff66;
            right: 2px solid #ffffff66;
            bottom: 2px solid #ffffff66;
        };   
    }
}

.desktopNav {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: $space-md;
    li {
        a {
            color: $color-text;
            text-decoration: none;
            font-size: 1.1rem;
            color: $color-text;
            font-weight: 500;
            display: block;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: calc(100% + 3px);
                width: 0%;
                transition: width 300ms ease-in-out;
                height: 2px;
                background-color: #ffffff66;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}