@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./vars.scss";


body {
    margin: 0;
    font-family: $font-body;
    background-color: $color-body;
    color: $color-text;
    font-weight: 100;
    line-height: 1.5;
    * {
        box-sizing: border-box;
    }
}