$base-space: 8;

$space-sm-raw: #{$base-space * 1};
$space-sm: #{$base-space * 1}px;

$space-md-raw: #{$base-space * 2};
$space-md: #{$base-space * 2}px;

$space-lg-raw: #{$base-space * 5};
$space-lg: #{$base-space * 5}px;

$space-xl-raw: #{$base-space * 10};
$space-xl: #{$base-space * 10}px;